*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    width: 100%;
    background-color: black;
}

button{
    color: white;
    padding: 20px;
}  

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > p{
    color: white;
}
#button{
    color: white;
    display: flex;
}

.none{
    display: none;
}

#main{
    width: 80%;
    border: 1px solid black;
    height: 1000px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 200px;
    width: 250px;
    padding: 20px;
}

.card{
    border: solid black 1px;
    height: 400px;
    margin: 20px;
    margin-top: 50px;

}

.subtext{
    padding: 20px;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: -15px 15px 30px black;
}